:root {
    --heading-primary: #5171A5;
    --heading-secondary: #98B9AB;
    --sub-heading-primary: #05204A;
    --button-primary: #3C6997;
    --button-primary-hover: #094074;
    --border-color-primary: #98B9AB;
    --input-border: #094074;
}